body {margin-top:10px;margin-left:20px;}
h1 {font-family: 'Ribeye Marrow', cursive;font-size:35px;margin-bottom:5px;position:fixed;}
h2 {font-family:arial;font-size:20px;}
hr {margin-bottom:800px;}
#nav{margin-top:50px;font-family:arial;font-size:12px;}